body {
  font-family: Arial, sans-serif;

  background-image: url("images/world-map.png");
  background-size: cover; /* makes it fill the screen */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: rgb(24, 24, 24); /* better contrast against the map */
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* adjust alpha for transparency */
  z-index: -1;
}

h1 {
  font-size: 36px;
  font-family: "Quando", serifsans-serif;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin: 0 0 5px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  opacity: 80%;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.9;
  font-family: "Quando", serifsans-serif;
  font-size: 14px;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

.backLink {
  font-size: 30px;
  text-decoration: none;
}

footer {
  text-align: center;
  font-family: "Quando", serifsans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
  color: #4b2fa6;
}
